* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #275dad;
  position: relative;
}

img {
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.direction-down {
  transform: rotate(0.25turn);
}

.direction-up {
  transform: rotate(-0.25turn);
}

.direction-left {
  transform: rotate(0.5turn);
}

.direction-right {
  transform: rotate(0);
}

.location {
  transform: translate(0);
}

.direction-up,
.direction-right,
.direction-down,
.direction-left {
  transition: transform 0.25s;
}
